* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.nav-section {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    margin-bottom: 10px;
}

.product-logo {
    width: 200px;
    transition: transform 0.3s;
}

.content-section {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.max-width {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}

.logos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center; /* Center items in the grid */
    align-items: center;
}

.logos-grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}

.logos-grid > a {
    justify-self: center; /* Center single logo if only one is present */
}

@media (min-width: 300px) {
    .logos-grid {
        grid-template-columns: repeat(2, 1fr); /* Two columns for two logos */
    }
}

footer {
    text-align: center;
    font-size: 12px;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
}